.results-container {
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: white;
    width: calc(18% - 2px);
    z-index: 1000;
}

.result-item {
    padding: 8px;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f0f0f0;
}