body,
html {
  padding: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div-escuela {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.selects {
  display: flex;
  flex-direction: row;
}

.comparativa {
  width: 99vw;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.comparar button {
  width: 200px;
  height: 40px;
  margin-top: 24px;
  border: 1px solid #D1D1D1;
  border-radius: 8px;
  background-color: white;
  text-align: start;
}

.select-resumen {
  width: fit-content;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  color: black;
  margin-bottom: 12px;
  margin-top: 5px;
}

.button-black-modal {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  margin-top: 5px;
  cursor: pointer;
}

header {
  width: 99vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  top: 0;
  background-color: white;
  padding: 15px;
  margin-bottom: 25px;
}

.cerrar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 10px;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
}

.cerrar p {
  margin-left: 5px;
}

.cerrar svg {
  margin-top: 30px;
}

.user {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button-menu {
  border: 1px solid #D1D1D1;
  width: 600px;
  height: 60px;
  background-color: #FFFFFF;
  margin: 20px;
  cursor: pointer;
}

.select-modal {
  width: 400px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  color: black;
  margin-bottom: 12px;
  margin-top: 5px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

.modal {
  background-color: #fff;
  padding: 30px;
  width: 40%;
  max-width: 90%;
  text-align: start;
  position: relative;
  z-index: 1001;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  margin: 20px auto;
  height: fit-content;
  max-height: 88vh;
}

.modal input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  color: black;
  margin-bottom: 12px;
  padding-inline-start: 12px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 32px;
}

.volver-button {
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
  font-size: 32px;
}

.form-login-1 {
  display: none;
  flex-direction: column;
  padding: 20px;
  padding-left: 5px;
}

.select-modal {
  width: fit-content;
}

.paso-1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.modal::-webkit-scrollbar {
  width: 12px;
}

.modal::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #888;
}

.modal::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}